@model List<Slider>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @{
            int Counter = 0;
            foreach (var item in Model)
            {
                if (item.Id == 1)
                {
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@Counter" class="active" aria-current="true" aria-label="Slide @item.Id"></button>
                }
                else
                {
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@Counter" aria-label="Slide @item.Id"></button>
                }
                Counter++;
            };
        }
    </div>
    <div class="carousel-inner">
        @{
            string ActiveClass = "";
            foreach (var item in Model)
            {
                if (item.Id == 1)
                    ActiveClass = "active";
                else
                    ActiveClass = "";

                <div class="carousel-item @ActiveClass">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                    <div class="container">
                        <div class="carousel-caption text-@item.TextPosition">
                            <h1>@item.Name</h1>
                            <p>@item.Description</p>
                            <p><a class="btn btn-lg btn-primary" href="#">@item.LinkText</a></p>
                        </div>
                    </div>
                </div>

            };
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>